/* fonts.css */

@font-face {
  font-family: 'Mynerve';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('fonts/Mynerve-Regular.ttf') format('truetype'),
}

@font-face {
  font-family: 'Josefin Slab';
  src: url('fonts/JosefinSlab-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900; /* Range of weight (thin to bold) */
  font-style: normal;
}

@font-face {
  font-family: 'Josefin Slab';
  src: url('fonts/JosefinSlab-Italic-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900; /* Range of weight (thin to bold) */
  font-style: italic;
}